@model ApplicationHost.Quickstart.Account.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<br /><br /><br />
<div class="row mr-3 ml-3">
    <div class="col-lg-12">
        <div class="p-3">
            <h3>Account Security <span><i class="fa fa-lock float-right"></i></span></h3>
            <hr />
        </div>
    </div>
</div>

<div class="row mr-3 ml-3">
    <div class="col-lg-12">
        <div class="p-5 bg-white BigShadow border">
            <h5 class="my-2 h5">Change Your Password</h5>
            <p>You can update your breeze&trade; Password here:</p>
            <hr />
            <br>
            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <div class="md-form w-100">
                    <input asp-for="OldPassword" class="form-control">
                    <label class="" asp-for="OldPassword"><i class="fa fa-lock mr-3"></i>Current Password</label>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="md-form w-100">
                    <input asp-for="NewPassword" class="form-control">
                    <label class="" asp-for="NewPassword"><i class="fa fa-lock mr-3"></i>New Password</label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="md-form w-100">
                    <input asp-for="ConfirmPassword" class="form-control">
                    <label class="" asp-for="ConfirmPassword"><i class="fa fa-lock mr-3"></i>Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-sm btn-default">Update Password</button>
            </form>

        </div>
    </div>
    <div class="row col-lg-12"></div><br /><br />
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


